* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 15%;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 15%;
  color: white;
}

form {
  display: inline-block;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f39c12;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  background-color: #e67e22;
}

.error {
  color: #e74c3c;
  background-color: #ffcccc;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  width: calc(100% - 40px);
  position: relative;
  margin: auto;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
}

td {
  background-color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
